# Ігнорування файлів середовища
.env

# Ігнорування тимчасових файлів та папок
__pycache__/
*.pyc
*.pyo

# Ігнорування файлів конфігурації IDE
.idea/
.vscode/

# Ігнорування системних файлів
.DS_Store
Thumbs.db

# Ігнорування інших тимчасових файлів
*.log
